{% extends 'base.html.twig' %}

{% block title %}Contactos{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color: #1ff;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Editar contacto</h1>

    {{ form(formulario) }}    

{% endblock %}